{% extends 'learning_logs/base.html' %}

{% block content %}
    <h3>Topics you have created</h3>
    <hr>
    <ul class="">
        {% for form in topic_lst %}
        <li class="mb-5">
            <form class="" 
            action="{% url 'learning_logs:edit_topic' form.instance.pk %}" 
            method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-info" name="save">save</button>
                <button class="btn btn-danger" name="delete">delete</button>
            </form>
        </li>
        <hr>
        {% endfor %}
    </ul>
    <a class="btn btn-info" href="{% url 'learning_logs:topics' %}">Done</a>
{% endblock content %}