{% extends 'learning_logs/base.html' %}

{% block content %}
<h5>Topic: <a href="{% url 'learning_logs:topic' topic.pk %}">{{topic}}</a> ></h5>
<hr>
<form action="{% url 'learning_logs:edit_entry' topic.pk entry.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-flex">
        <button class="btn btn-info" name="submit">Save</button>
        <a class="btn btn-outline-danger ml-auto"
            href="{% url 'learning_logs:entry' entry.topic.pk entry.pk %}">Cancel</a>
    </div>
</form>
<hr>
{% endblock content %}