{% extends 'learning_logs/base.html' %}

{% block header %}

{% if user.is_authenticated %}
<div class="text-center">
    <p class="text-info py-2">Hello, {{ user.username }}! Welcome back!</p>
    <a class="btn btn-info px-5" href="{% url 'learning_logs:topics' %}">View Your Topics</a>
</div>
<hr>
{% endif %}

<h1 class=" font-weight-light">Track Your Learning</h1>
<p class="lead font-weight-light">This is an app to help you learn more efficiently. You can add topics you are
    learning and make entries under each topic to record your learning process, questions and solutions... And many
    more functions for you to discover.</p>
{% endblock header %}


{% block content %}

{% if not user.is_authenticated %}
<a class="btn btn-info px-4 py-2" href="{% url 'users:register' %}">Register &raquo;</a>
{% endif %}

{% endblock content %}