{% extends 'learning_logs/base.html' %}

{% block header %}
<h3 class="font-weight-light">Your Topics <span class="text-muted"> &raquo; </span></h3>
{% endblock header %}

{% block content %}
<div class="mb-3">
    <a class="btn btn-info btn-sm" href="{% url 'learning_logs:new_topic' %}">add a new topic</a>
    <a class="btn btn-outline-info btn-sm float-right" href="{% url 'learning_logs:edit_topics' %}">edit topics</a>
</div>
<div class="list-group ">
    {% for topic in topics %}
    <a class="list-group-item list-group-item-action "
        href="{% url 'learning_logs:topic' topic.pk %}">
        <span>{{ topic.text }}</span>
        {% for entry in topic.entry_set.all|slice:":1" %}
        <span class="ml-auto badge badge-info badge-pill font-weight-light float-right">updated: {{ entry.date_added | date:"M-d-Y" }}</span>    
        {% endfor %}
    </a>
    {% empty %}
    <p class="text-muted">There are no topics yet. Please add a new topic.</p>
    {% endfor %}
</div>
{% endblock content %}