{% extends 'learning_logs/base.html' %}

{% block content %}
<h3>{{ topic }} <small><a href="#">edit</a></small></h3>
<ul>
    {% for entry in entries %}
    <li>
        <a href="{% url 'learning_logs:entry' topic.pk entry.pk %}">{{ entry.title }}</a> - 
        <a href="{% url 'learning_logs:edit_entry' topic.pk entry.pk %}">edit</a>
        <p>{{ entry.date_added | date:'M-d-y H:i'}}</p>
        <!-- | is a template filter: a function modifies the value in a template variable -->
        <p>{{ entry.text | linebreaks }}</p>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'learning_logs:new_entry' topic.pk %}">Add a new entry</a>
{% endblock content %}